In [8]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split
from PIL import Image

# Create Splits

In [5]:
# getting a list of all images in the directory
image_paths = []
for file in os.listdir("game_captures"):
    image_paths.append(os.path.join("game_captures", file))

train_paths, test_paths = train_test_split(image_paths, test_size=0.2, random_state=42)
train_paths[0]

'game_captures/20241109_153023_827761_forward.jpg'

# Create folder structure

In [6]:
os.mkdir("data")
os.mkdir("data/train")
os.mkdir("data/test")

# Save images into according folder

In [9]:
for path in train_paths:
    img=Image.open(path)
    new_path = "data/train/" + path.split("/")[1]
    img.save(new_path)

In [10]:
for path in test_paths:
    img=Image.open(path)
    new_path = "data/test/" + path.split("/")[1]
    img.save(new_path)

# Create label-csv files

In [23]:
train_df = pd.DataFrame(columns=["filename","label"])

for file in os.listdir("data/train/"):
    new_row = pd.DataFrame({"filename":[file],"label":[file.split("_")[3].split(".")[0]]})
    train_df = pd.concat([train_df,new_row], axis=0)

train_df

                              filename    label
0      20241109_154140_357465_left.jpg     left
0   20241109_153244_515614_forward.jpg  forward
0      20241109_155201_561275_left.jpg     left
0     20241109_173502_065252_right.jpg    right
0      20241109_153901_283809_left.jpg     left
..                                 ...      ...
0      20241109_154113_051575_left.jpg     left
0     20241109_153238_569342_right.jpg    right
0   20241109_154012_547144_forward.jpg  forward
0      20241109_155215_628791_left.jpg     left
0   20241109_153224_582456_forward.jpg  forward

[1264 rows x 2 columns]

In [24]:
test_df = pd.DataFrame(columns=["filename","label"])

for file in os.listdir("data/test/"):
    new_row = pd.DataFrame({"filename":[file],"label":[file.split("_")[3].split(".")[0]]})
    test_df = pd.concat([test_df,new_row], axis=0)

test_df

                              filename    label
0     20241109_173302_612068_right.jpg    right
0   20241109_153151_795801_forward.jpg  forward
0     20241109_154142_384181_right.jpg    right
0     20241109_173240_144931_right.jpg    right
0   20241109_153856_455214_forward.jpg  forward
..                                 ...      ...
0      20241109_155006_260898_left.jpg     left
0      20241109_154224_288458_left.jpg     left
0     20241109_173246_678304_right.jpg    right
0      20241109_155027_484772_left.jpg     left
0   20241109_153814_485375_forward.jpg  forward

[317 rows x 2 columns]

In [27]:
def convert_class_label(label):

    if label=="left":
        return "0"
    elif label=="forward":
        return "1"
    elif label=="right":
        return "2"
    else:
        print(f"There was a problem with label {label}!")

train_df["label"] = train_df["label"].apply(convert_class_label)
test_df["label"] = test_df["label"].apply(convert_class_label)

In [28]:
train_df.head(3)

                             filename label
0     20241109_154140_357465_left.jpg     0
0  20241109_153244_515614_forward.jpg     1
0     20241109_155201_561275_left.jpg     0

In [29]:
train_df.to_csv("train_labels.csv",index=False)
test_df.to_csv("test_labels.csv", index=False)